* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* .App {
  text-align: center;
}

input {
  margin: 20px;
} */

.input-container {
  border: 1px dashed blue;
  width: 30%;
  margin: 0 auto;
}
